[submodule "zsh/plugins/zsh-dircolors-solarized"]
	path = zsh/plugins/zsh-dircolors-solarized
	url = git@github.com:joel-porquet/zsh-dircolors-solarized.git
[submodule "zsh/plugins/zsh-pg"]
	path = zsh/plugins/zsh-pg
	url = git@github.com:caarlos0/zsh-pg.git
